<div class="content" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxFlex="1 1 auto">

    <!--Breadcrumbs-->
    <div class="dashboard-title">
      <p-breadcrumb class="max-w-full" [home]="home"></p-breadcrumb>
    </div>

    <!--Header and Button Container-->
    <div class="header-button-container">
      <!--Page Title-->
      <h1 fxFlex="100" fxFlex.gt-sm="auto">Upcoming Events</h1>

      <!--Sort Option Selector-->
      <mat-form-field appearance="outline">
        <mat-label>Sort</mat-label>
        <mat-select [(value)]="sortAscending" (selectionChange)="sortEvents()">
          <mat-option [value]="true">Ascending Order</mat-option>
          <mat-option [value]="false">Descending Order</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-chip-listbox aria-label="Events selection" [(ngModel)]="selectedChip" (ngModelChange)="filterEvents()">
        <mat-chip-option [value]="filterOption" *ngFor="let filterOption of filterOptions">
          {{ filterOption }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <br>

    <!-- Events Card Grid or No Events Found Message -->
    <div *ngIf="filteredEvents.length > 0; else noEvents">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let card of filteredEvents">
          <app-event-card [card]="card" [attendeeCount]="getAttendeeCount(card.id)" [style.view-transition-name]="card.id"></app-event-card>
        </div>
      </div>
    </div>

    <!-- No Events Found Message -->
    <ng-template #noEvents>
      <div class="no-events-message" fxLayout="column" fxLayoutAlign="center center">
        <h2>No events found</h2>
        <p>There are currently no events matching the selected criteria.</p>
      </div>
    </ng-template>

  </div>
</div>
