<h2 mat-dialog-title class="dialog-title">
  <span class="icon-title-container">
    <mat-icon class="icon">person</mat-icon> 
    Attendee's Details
  </span>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="event-date">
    <strong>Name:</strong> {{data.Honorific}} {{data.Name}} {{data.Surname}}
  </div>
  <div class="event-date">
    <strong>Practice Number:</strong> {{data.PractiseNumber}}
  </div>
  <br>
  <div class="event-description">
    <strong>Contact Number:</strong> {{data.Contact}}
  </div>
  <br>
  <div class="event-location">
    <strong>Email:</strong> {{data.Email}}
  </div>
  <br>
  <div class="event-location">
    <strong>Dietary Preference</strong> {{data.DietaryPreference}}
  </div>
  <br>
  <div class="event-location">
    <strong>Requires Transfer:</strong> {{data.Transfer}}
  </div>
  <br>
  <div class="event-location">
    <strong>Requires Accomodation:</strong> {{data.Accommodation}}
  </div>
  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Close</button>
</mat-dialog-actions>
