<div class="content" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="1 1 auto">
         <!--Breadcrumbs-->
        <div class="dashboard-title">
            <p-breadcrumb 
            class="max-w-full" 
            [model]="items" 
            [home]="home" />
        </div>

        <!--Header and Button Container-->
    <div class="header-button-container">
        <!--Page Title-->
        <h1>
         Emailing Groups
        </h1>
      </div>
      <br>
      <div class="flex-container">
        <!--Searchbar-->
        <mat-form-field appearance="outline" class="search-bar">
          <mat-label>Search</mat-label>
          <input (keyup)="applyFilter($event)" matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <br>

        <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="8px">
            <mat-card class="mat-elevation-z0 padded-card" fxFlex="25">
              <!--Mail Group List Header-->
              <div class="mail-groups-list">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h3>Groups List</h3>
                  <button mat-stroked-button color="primary" class="btn">
                    <mat-icon>add</mat-icon>
                    Add
                  </button>
                </div>
               <mat-divider></mat-divider>

              <!--Mail Group List-->
               <mat-list>
                <mat-list-item 
                  *ngFor="let group of groups" 
                  class="group-item" 
                  [ngClass]="{'selected-group-item': isSelected(group)}"
                  (click)="selectGroup(group)">
                  <mat-icon matListItemIcon>
                    <ng-container *ngIf="isSelected(group); else outlineIcon">
                      <span class="material-icons">
                        <mat-icon color="primary">group_work</mat-icon>
                      </span>
                    </ng-container>
                    <ng-template #outlineIcon>
                      <span class="material-icons-outlined">group_work</span>
                    </ng-template>
                  </mat-icon>
                  <span matListItemTitle  [ngClass]="{'selected-title': isSelected(group)}">{{ group.Name }}</span>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>              
              </div>
            </mat-card>
          
            <mat-card class="mat-elevation-z0 padded-card" fxFlex="75">
              <!--Recipients List-->
              <div class="recipients-list">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h3>Recipients List</h3>
                  <button mat-stroked-button color="primary" class="btn">
                    <mat-icon>add</mat-icon>
                    Add
                  </button>
                </div>
                <mat-divider></mat-divider>
              </div>
            </mat-card>
          </div>
          
    </div>
</div>
    