@import '../../../assets/common.scss';



  .padded-card {
    padding: 8px; /* Adjust the padding as needed */
  }
  .mail-groups-list {
    display: flex;
    flex-direction: column;
  }
  
  .recipients-list {
    display: flex;
    flex-direction: column;
  }

  .selected-group-item {
    border-left-color: #3F51B5 !important;
    background-color: rgba(0, 0, 0, 0.05);
    
  }
  
  .group-item {
    border-left: 5px solid;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }

  .selected-title {
    color: #3F51B5;
  }
  