<div class="content" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="1 1 auto">
         <!--Breadcrumbs-->
        <div class="dashboard-title">
            <p-breadcrumb 
            class="max-w-full" 
            [model]="items" 
            [home]="home" />
        </div>
        <p-splitter [style]="{ height: '900px' }" styleClass="mb-5">
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                    Panel 1
                </div>
            </ng-template>
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                    Panel 2
                </div>
            </ng-template>
        </p-splitter>
    </div>
</div>
    