<mat-card class="card">
  <div class="image-container">
    <img mat-card-image [src]="photo?.urls?.small" alt="Event Image">
  </div>
  <mat-card-content>
    <div class="date-container">{{ card.StartDate}} - {{ card.EndDate }}</div>
    <div class="title-container">
      <h3><strong>{{ card.Title }}</strong></h3>
    </div>    
    <div class="location-container">
      <mat-icon color="primary">location_on</mat-icon>
      {{ card.Location }}
    </div>    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="viewDetails(card)">INFO</button>
    <button mat-button color="primary" (click)="navigateToForm(card)">SIGN UP</button>
  </mat-card-actions>
</mat-card>
