.card {
    width: 300px; /* Adjust the card width as needed */
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .image-container {
    width: 100%; /* Ensure the container takes the full width of the card */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .mat-card-image {
    width: 100%; /* Make the image fill the entire width of its container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .location-container {
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically in the center */
  }
  
  .location-container mat-icon {
    margin-right: 24px; /* Add some space between the icon and the text */
  }

