<mat-card class="card">
  <div class="image-container">
    <img mat-card-image src="../../../assets/img/calendar.svg" alt="Event Image">
  </div>
  <mat-card-content>
    <div> 12/05/2024</div>
    <h3> <strong>Event Conference</strong></h3>
    <div class="location-container">
      <mat-icon color="primary">location_on</mat-icon>
      <div>Town Hall, CapeTown</div>
    </div>    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>INFO</button>
    <button mat-button>SIGN UP</button>
  </mat-card-actions>
</mat-card>
