<mat-card class="card">
  <div class="image-container">
    <img mat-card-image [src]="photo?.urls?.small" alt="Event Image">
  </div>
  <mat-card-content>

    <div class="title-container">
      <h3><strong>{{ card.Title }}</strong></h3>
    </div>
    <div class="location-container">
      <mat-icon color="primary">access_time</mat-icon>
      {{ formatDate(card.StartDate)}} - {{ formatDate(card.EndDate) }}</div>

    <div class="location-container">
      <mat-icon color="primary">people_outline</mat-icon>
      {{ card.Capacity }} Expected Guests
    </div> 

    <div class="location-container">
      <mat-icon color="primary">check_circle_outline</mat-icon>
      {{attendeeCount}} Guests confirmed
    </div>      
  </mat-card-content>
  <br>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" [value]="getProgressPercentage(attendeeCount, card.Capacity)"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
