<div class="content" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxFlex="1 1 auto">
   
    <!--Breadcrumbs-->
    <div class="dashboard-title">
      <p-breadcrumb 
      class="max-w-full" 
      [model]="items" 
      [home]="home" />
    </div>
    <!--Header and Button Container-->
    <div class="header-button-container"fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between">
      <!--Page Title-->
      <h1 fxFlex="100" fxFlex.gt-sm="auto">Events</h1>

      <!--Create Event Button-->
      <button mat-stroked-button color="primary" class="btn" (click)="openAddEventModal()">
        <mat-icon>add</mat-icon>
        Create Event
      </button>
    </div>
    <br>
    <mat-card class="mat-elevation-z0">
      <!--Table-->
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Title Column -->
        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
          <mat-cell *matCellDef="let element" class="clickable-cell" (click)="navigateToAttendees(element)"> {{ element.Title }} </mat-cell>
        </ng-container>
        
        <!-- Date Column -->
        <ng-container matColumnDef="Start Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ formatDate(element.StartDate) }}</mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="End Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ formatDate(element.EndDate) }} </mat-cell>
        </ng-container>
      
        <!-- Capacity Column -->
        <ng-container matColumnDef="Capacity">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-start"> Expected Guest</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.Capacity }} </mat-cell>
        </ng-container>

        <!--Guests Count Column -->
        <ng-container matColumnDef="Guests">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-start"> Confirmed Guests</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ getAttendeeCount(element.id) }} </mat-cell>
        </ng-container>
      
        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="badge" [style.background-color]="getBadgeColor(element.Status)">
              {{ element.Status ? 'Open' : 'Closed' }}
            </span>
          </mat-cell>
        </ng-container>
    
        <!-- MoreOptions Column -->
        <ng-container matColumnDef="MoreOptions">
          <mat-header-cell *matHeaderCellDef >&nbsp;</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="viewDetails(element)" title="Details">
                <mat-icon color="primary">info_outline</mat-icon>
                <span>Event Details</span>
              </button>

              <button mat-menu-item (click)=" openEditDialog(element)" title="Edit">
                <mat-icon color="primary">edit</mat-icon>
                <span>Edit Event</span>
              </button>
              <button mat-menu-item (click)="openDeleteAlert(element)" title="Delete">
                <mat-icon color="warn">delete_outline</mat-icon>
                <span>Delete Event</span>
              </button> 
            </mat-menu>
          </mat-cell>
        </ng-container>
         <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
         <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data</td>
        </tr> 
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
      </mat-table>
      <!--Paginator-->
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </mat-card>
    
  </div>
</div>
