<h2 mat-dialog-title class="dialog-title">
  <span class="icon-title-container">
    Events's Details
  </span>
</h2>
<mat-dialog-content class="mat-typography">
   <h2><strong>{{data.Title}}</strong> </h2> 
  <br>
  <div class="event-date">
    <strong>Date:</strong> {{formatDate(data.StartDate)}} - {{formatDate(data.EndDate)}}
  </div>
  <br>
  <div class="event-description">
    <strong>Description:</strong> {{data.Description}}
  </div>
  <br>
  <div class="event-location">
    <strong>Location:</strong> {{data.Location}}
  </div>
  <br>
  <div class="event-location">
    <strong>Agenda:</strong>
    <ul>
      <li *ngFor="let agendaItem of data.Agenda">{{ agendaItem }}</li>
    </ul>
  </div>  
  <br>
  <div class="event-location">
    <strong>Expected Number of Guests:</strong> {{data.Capacity}}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Close</button>
</mat-dialog-actions>
