@import '../../../assets/common.scss';

.dialog-title {
  color: #fff;
  background-color: #303F9F;
  display: flex; /* Flex container to align items */
  align-items: center; /* Align items vertically */
  padding: 10px; /* Add padding if needed */
}

.icon-title-container {
  display: flex; /* Flex container to align icon and text */
  align-items: center; /* Center align items vertically */
}

.icon-title-container .icon {
  margin-right: 8px; /* Spacing between icon and text */
}

.event-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .event-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  
    .event-date,
    .event-location {
      font-size: 16px;
      margin-bottom: 4px;
    }
  
    .event-description {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
