<div class="notification-card">
  <div class="card-header">
    <span class="date">{{ date | timeago }}</span>
    <button mat-icon-button (click)="onDelete()">
      <mat-icon color="warn">close</mat-icon>
    </button>
  </div>
  <div class="card-body">
    <div class="icon-wrapper">
      <span class="unread-dot"></span> <!-- *ngIf="!read" -->
      <p-avatar 
              [label]="avatarLabel"
              styleClass="mr-2" 
              [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" />
    </div>
    &nbsp;
    <span>{{ message }}</span>
  </div>
</div>
<mat-divider></mat-divider>
