.notification-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
  
    .card-body {
      display: flex;
      align-items: center;
    }
  
    .date {
      font-size: 12px;
      color: gray;
    }
  
    mat-icon {
      margin-right: 10px;
    }
  
    button {
      padding: 0;
      min-width: 0;
      width: 24px;
      height: 24px;
    }
  }
  