<div class="content" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxFlex="1 1 auto">
         <!--Breadcrumbs-->
        <div class="dashboard-title">
            <p-breadcrumb 
            class="max-w-full" 
            [model]="items" 
            [home]="home" />
        </div>

        <div class="header-button-container">
            <!--Page Title-->
            <h1>
              Calendar
            </h1>
        </div>
        <br>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
