

<div class="login-container">
    <div class="logo-container vertical-center">
      <img src="../../../assets/img/events-animate.svg" alt="Logo Image" />
    </div>
       
    <div class=" vertical-center text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form>
              <img class="mb-4 circular-logo" src="../../../assets/img/Registry.webp" width="200" />
              <h1 class="h3 mb-3 fw-normal">Events Registry App</h1>
          
              <!-- Angular Material Form Field for Email -->
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Correo electronico</mat-label>
                <input matInput type="email" id="email" placeholder="name@example.com" />
              </mat-form-field>
              <br />
          
              <!-- Angular Material Form Field for Password -->
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" placeholder="Password" />
              </mat-form-field>
              <br />
          
              <div class="checkbox-container">
                <p class="mt-5 mb-3 text-muted">
                  <a id="forgot-password" href="#">Forgot Password?</a>
                </p>
              </div>
          
              <!-- Angular Material Button for Sign In -->
              <button mat-raised-button color="primary" class="w-100">Sign in</button>
              <br>
              <!-- Angular Material Button for Create Account -->
              <button mat-button color="primary" class="w-100">Create Account</button>
            </form>
          </div>          
        </div>
      </div>
    </div>
  </div>
  
