.header-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar{
  position: relative;
  z-index: 5;
  }
  .navbar-brand {
  text-decoration: none;
  color: white;
  }
  
  .user-icon {
    display: flex;
    align-items: center;
    width:"32";
    height:"32";
    
    > img{
        border-radius:100%;
        object-fit: cover;
        border: 0.0625rem solid white;
        overflow: hidden;
    }
  }

.content{
    padding: 16px;
    transition: all 500ms ease-out;
    background-color: #f1f5f9;
}

mat-sidenav-container{

    height: calc(100vh - 64px);
    padding: 0;
    margin: 0;

}
mat-sidenav,mat-sidenav-container{
  transition: all 500ms ease-in-out;
  //background-color:  #f1f5f9;
}