<!--LoaderComponent-->
<app-loader></app-loader>

<!--Toast Message-->
<p-toast key="top-right" position="top-right"></p-toast>
<p-toast key="bottom-center" position="bottom-center"></p-toast>

  <ng-container *ngIf="!checkInviteUrl()">
  <!--HeaderComponent-->
  <mat-toolbar class="mat-elevation-z3" color="primary">
    <button mat-icon-button (click)="collapsed.set(!collapsed())" *ngIf="!isSmallScreen()">
      <mat-icon>menu</mat-icon>
    </button> 
    <a class="navbar-brand">
      <h2>Registry App</h2>
    </a>
    <span class="header-spacer"></span>

    <!--Notification Icon-->
    <button mat-icon-button (click)="overlayPanel.toggle($event)">
      <mat-icon>notifications</mat-icon>
      <span *ngIf="unreadCount > 0" matBadge="{{unreadCount}}" matBadgeColor="accent"></span>
  </button>
  
  <p-overlayPanel #overlayPanel (onShow)="markNotificationsAsRead()">
    <div class="flex flex-column gap-1 w-12rem">
      <!-- Display a message if there are no notifications -->
      <p *ngIf="notifications.length === 0" class="no-notifications-message">You are caught up</p>
  
      <!-- Display notifications if there are any -->
      <app-notification-card 
        *ngFor="let notification of notifications" 
        [date]="notification.Date" 
        [message]="notification.Message" 
        [read]="notification.Read" 
        (Delete)="handleDelete(notification)">
      </app-notification-card>
    </div>
  </p-overlayPanel>

  <!--User Icon-->
  <button mat-button  (click)="userOverlay.toggle($event)">
    <p-avatar 
        icon="pi pi-user" 
        styleClass="mr-2" 
        [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
    />
  </button>
  <p-overlayPanel #userOverlay>
    <div class="flex flex-column gap-3 w-25rem">
      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon color="primary">person</mat-icon>
        <span>Account</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon color="primary">exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </div>
  </p-overlayPanel>
</mat-toolbar>
<mat-sidenav-container>
    <!--SideNav-->
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-side-menu [collapsed]="collapsed()"/>
    </mat-sidenav>
    <!--Content-->
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</ng-container>
<!-- Only display the router outlet without header and side menu for the invite and auth pages -->
<router-outlet *ngIf="checkInviteUrl()"></router-outlet>
<router-outlet *ngIf="checkAuthUrl()"></router-outlet>