<!--LoaderComponent-->
<app-loader></app-loader>


 <!--HeaderComponent-->
 <mat-toolbar class="mat-elevation-z3" color="primary">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button> 
  <a class="navbar-brand" [routerLink]="['/dashboard']" matTooltip="Home">
    <h2>Registry App</h2>
  </a>
  <span class="header-spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
    <!--SideNav-->
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-side-menu [collapsed]="collapsed()"/>
    </mat-sidenav>
    <!--Content-->
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>