<!--LoaderComponent-->
<app-loader></app-loader>

<!--Toast Message-->
<p-toast position="bottom-center"/>

  <ng-container *ngIf="!checkInviteUrl()">
  <!--HeaderComponent-->
 <mat-toolbar class="mat-elevation-z3" color="primary">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button> 
  <a class="navbar-brand">
    <h2>Registry App</h2>
  </a>
  <span class="header-spacer"></span>

  <!--Notification Icon-->
  <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
    <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
  </button>
  <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

    <a mat-menu-item>
      <span>You have new tasks</span>
    </a>
    <a mat-menu-item>
      <span>You have a new message</span>
    </a>

  </mat-menu>
  <button mat-button [matMenuTriggerFor]="userMenu">
      <div class="user-icon">
        <p-avatar 
        icon="pi pi-user" 
        styleClass="mr-2" 
        [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
        shape="circle" />
      </div>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

    <a mat-menu-item [routerLink]="['/account/profile']">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </a>

    <a mat-menu-item [routerLink]="['/auth/login']">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </a>

  </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
    <!--SideNav-->
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-side-menu [collapsed]="collapsed()"/>
    </mat-sidenav>
    <!--Content-->
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</ng-container>
<!-- Only display the router outlet without header and side menu for the login page -->
<router-outlet *ngIf="checkInviteUrl()"></router-outlet>