<div class="container" fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="1 1 auto">
    <mat-card>
      <mat-card-content>
        <div class="card-header">
          <h3>{{event.Title}} Attendees</h3>
          <div class="parent-div">
              <div class="search-dive">
                <div class="search-bar">
                  <div class="search-container">
                    <span class="search-icon">
                    </span>
                      <mat-form-field appearance="outline">
                        <input (keyup)="applyFilter($event)" matInput placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                  </div>
                </div>
                <button mat-flat-button color="primary" class="btn">
                  <mat-icon>mail</mat-icon>
                  Invite Guest
                </button>
              </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort matSort *ngIf="dataSource.data.length > 0; else noAttendees">
            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.Name }} </mat-cell>
            </ng-container>
          
            <!-- Surname Column -->
            <ng-container matColumnDef="Surname">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.Surname }} </mat-cell>
            </ng-container>
          
            <!-- Practice Number Column -->
            <ng-container matColumnDef="PracticeNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Practice Number </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.PracticeNumber }} </mat-cell>
            </ng-container>
          
            <!-- Contact Column -->
            <ng-container matColumnDef="Contact">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Contact </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.Contact }} </mat-cell>
            </ng-container>

             <!-- Email Column -->
             <ng-container matColumnDef="Email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.Email }} </mat-cell>
            </ng-container>

            <!-- MoreOptions Column -->
            <ng-container matColumnDef="MoreOptions">
              <mat-header-cell *matHeaderCellDef >&nbsp;</mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button mat-icon-button (click)="edit(element)" title="Edit">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(element)" title="Delete">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </mat-cell>
              
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
          </mat-table>
          <ng-template #noAttendees>
            <div class="no-attendees-message">No Attendees</div>
          </ng-template>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>        
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
