@import '../../../assets/common.scss';

.no-attendees-message {
    text-align: left;
    padding: 20px;
    font-size: 1.2em;
    color: red; /* Adjust the color as needed */
    background-color: lightgray;
  }
  .button-container{
    display: flex;
    width: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-content: start;
  }