<!--Side nav menu-->
<mat-nav-list>
  <ng-container *ngFor="let item of menuItems(); let i = index">
    <!-- Divider before the last item -->
    <mat-divider *ngIf="i === menuItems().length - 1"></mat-divider>
    
    <!-- Menu item -->
    <a 
      mat-list-item 
      class="menu-item"
      [routerLink]="item.route"
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [activated]="rla.isActive"
      [pTooltip]="sidenavCollapsed() ? item.label : ''" 
      tooltipPosition="right">
      <mat-icon matListItemIcon>
        <ng-container *ngIf="!rla.isActive; else outlineIcon">
          <span class="material-icons">{{ item.icon }}</span>
        </ng-container>
        <ng-template #outlineIcon>
          <span class="material-icons-outlined">{{ item.icon }}</span>
        </ng-template>
      </mat-icon>
      <span matListItemTitle *ngIf="!sidenavCollapsed()">{{item.label}}</span>
    </a>
  </ng-container>
</mat-nav-list>