@import '../../../assets/common.scss';

h2 {
  color: white !important;
  font-weight: bold;
  font-style: oblique;

}

.mat-dialog-container {
  border-radius: 16px; /* Adjust the value as needed */
}
.form-container {
    display: flex;
    flex-direction: column;
}

.dialog-title {
  color: #fff;
  background-color: #303F9F;
}
button {
  margin-right: 8px;
}

.red-snackbar {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: black;
  --mdc-snackbar-supporting-text-color: white;
}

.green-snackbar {
  --mdc-snackbar-container-color:#008B00;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

::ng-deep .snackbar {
  max-width: 90% !important;
  margin-left: auto !important; // center align from left
  margin-right: auto !important; // center align from right
  margin-bottom: 1rem !important; 
  padding: 10px !important; // spacing between the text and boundary
  background-color: green;
  color: white;

  .mat-button-wrapper {
      color: black !important; // action text color
  }
}