.container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

h3 {
  color: #332f2f;
  font-weight: bold;
  font-style: oblique;

}
  
mat-table {
  width: 100%;
 
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}


.parent-div {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  .search-dive {
  
    .search-bar {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      .search-container {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .btn {
      position: relative;
      display: flex;
      align-items: center;
      width:100%;
    }
  }
}
  
  
  
    