/////////// max-width breakpoints///////

$max-xxxl:   106.667rem;    // 1599.98px / 15px
$max-xxl:    93.332rem;     // 1399.98px / 15px
$max-xl:     79.998rem;     // 1199.98px / 15px
$max-lg:     66.132rem;     // 991.98px  / 15px
$max-md:     51.198rem;     // 767.98px  / 15px
$max-sm:     38.398rem;     // 575.98px  / 15px

$min-xxlxxl: 182.133rem;    // 2732px / 15px
$min-xxl:    93.333rem;     // 1400px / 15px
$min-xl:     80rem;         // 1200px / 15px
$min-lg:     66.133rem;     // 992px  / 15px
$min-md:     51.2rem;       // 768px  / 15px
$min-sm:     38.4rem;       // 576px  / 15px
