<div class="login-container">
    <div class="logo-container vertical-center">
      <img src="../../../assets/img/events-animate.svg" alt="Logo Image" />
    </div>
  
    <div class="vertical-center text-center">
      <form class="full-width-form center-content">
        <!-- Centered Logo and Title -->
        <img class="mb-4 circular-logo" src="../../../assets/img/Registry.webp" width="200" />
        <h1 class="h3 mb-3 fw-normal">Events Registry App</h1>
  
        <!-- Welcome Message for Sign Up -->
        <p class="welcome-message">Create your account to get started</p>
  
        <!-- Angular Material Form Field for Full Name -->
        <mat-form-field appearance="fill" class="full-width mat-form-field-extended">
          <mat-label>Full Name</mat-label>
          <input matInput type="text" id="fullName" placeholder="Your Full Name" />
        </mat-form-field>
        <br />
  
        <!-- Angular Material Form Field for Email -->
        <mat-form-field appearance="fill" class="full-width mat-form-field-extended">
          <mat-label>Correo electronico</mat-label>
          <input matInput type="email" id="email" placeholder="name@example.com" />
        </mat-form-field>
        <br />
  
        <!-- Angular Material Form Field for Password -->
        <mat-form-field appearance="fill" class="full-width mat-form-field-extended">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" placeholder="Password" />
        </mat-form-field>
        <br />
  
        <!-- Angular Material Form Field for Confirm Password -->
        <mat-form-field appearance="fill" class="full-width mat-form-field-extended">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" id="confirmPassword" placeholder="Confirm Password" />
        </mat-form-field>
        <br />
  
        <!-- Angular Material Button for Sign Up -->
        <button mat-raised-button color="primary" class="full-width">Sign Up</button>
        <br /><br />
  
        <!-- Link to Login Page -->
        <p class="mt-3 mb-3 text-muted"> 
          <a href="#" [routerLink]="['/auth/login']"> Already have an account?</a>
        </p>
      </form>
    </div>
  </div>
  