@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* Success styles */
.mat-mdc-snack-bar-container.success .mdc-snackbar__label,
.success .mdc-button .mdc-button__label {
  color: #10B981 !important;
}

.mat-mdc-snack-bar-container.success .mdc-snackbar__surface  {
  background-color: #E9F9F3 !important;
  text-align: center;
  width: auto !important;
  transform: scale(0.8) !important;
}

/* Error styles */
.mat-mdc-snack-bar-container.error .mdc-snackbar__label,
.error .mdc-button .mdc-button__label {
  color: #FF0000 !important; /* Change to the color you want */
}

.mat-mdc-snack-bar-container.error .mdc-snackbar__surface  {
  background-color: #FFCCCC !important; /* Change to the color you want */
  text-align: center;
  width: auto !important;
  transform: scale(0.8) !important;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}

/* .mat-mdc-form-field-bottom-align{
  content: "";
  display: inline-block;
  height: 16px;
} */


.hide { 
  display: none;
}

.p-breadcrumb {
  background: transparent;
  border: 1px solid transparent !important;
  border-radius: 0px;
  padding:0px;
}

.mat-mdc-header-row{
  background-color:#E8EAF6 !important ;
}

:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color:#3F51B5;
  --fc-button-border-color:#3F51B5;
  --fc-button-hover-bg-color: #3F51B5;
  --fc-button-hover-border-color:#5C6BC0;
  --fc-button-active-bg-color: #283593;
  --fc-button-active-border-color:#3949AB;

  --fc-event-bg-color: #dee9fc !important;
  --fc-event-border-color: #dee9fc;
  --fc-event-text-color: #1a2551;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}
