@use '@angular/material' as mat;

@include mat.core();

$my-theme-primary: mat.define-palette($mat-indigo);
$my-theme-accent: mat.define-palette($mat-pink,A200,A100,A400);
$my-theme-warn: mat.define-palette($mat-red);

$my-theme:mat.define-light-theme((
    color: (
      primary: $my-theme-primary,
      accent: $my-theme-accent,
      warn:$my-theme-warn,
    )
  ));


@include mat.all-component-themes($my-theme)